[Unit]
Description=Caddy Server
After=network-online.target
Wants=network-online.target

[Service]
#User=zxy
#Group=staff
Restart=on-failure
TimeoutStopSec=300
#LimitFSIZE="unlimited"
#LimitCPU="unlimited"
#LimitAS="unlimited"
#LimitNOFILE=64000
#LimitRSS="unlimited"
#LimitNOPROC=64000 64000

LimitCORE=infinity
LimitNOFILE=100000
LimitNPROC=100000

Environment=PATH=/bin:/sbin:/usr/sbin:/usr/bin:/usr/local/bin:/usr/local/sbin
WorkingDirectory=/home/one/static
Type=forking
ExecStart=/usr/bin/caddy -conf /etc/Caddyfile

[Install]
WantedBy=multi-user.target
